

<div class="container ">
    

	<br>
	<h1 class="text-success text-center text-uppercase">Welcome to the Page<br></h1>
	<br>

<div class="row p-20 m-auto  group">

    <div class=" col-lg-4 d-block m-auto" >


        <h2>About Us</h2>
        <p>This might be the most distinctive website we’ve come across.

        Anton & Irene is a design agency based in Manhattan.
        
        Why are they a distinctive web presence?
        
        </p>
    </div>
   
		<div class="col-lg-4  d-block m-auto ">
			
<h2> Writers </h2>
<p>Want to become a better writer? Perhaps you want to write novels, or maybe you just want to get better grades in your essay writing assignments, or maybe you’d like to start a popular blog.

.</p>
        </div>
        <div class="row p-20 m-auto  call">

            <div class=" col-lg-4 d-block m-auto" >
        
        
                <h2>About Us</h2>
                <p>This might be the most distinctive website we’ve come across.
        
                Anton & Irene is a design agency based in Manhattan.
                
                Why are they a distinctive web presence?
                
                </p>
            </div>
           
                <div class="col-lg-4  d-block m-auto ">
                    
        <h2> Writers </h2>
        <p>Want to become a better writer? Perhaps you want to write novels, or maybe you just want to get better grades in your essay writing assignments, or maybe you’d like to start a popular blog.
        
        .</p>
                </div>



</div>

<div class="row p-20 m-auto  call">

    <div class=" col-lg-4 d-block m-auto" >


        <h2>About Us</h2>
        <p>This might be the most distinctive website we’ve come across.

        Anton & Irene is a design agency based in Manhattan.
        
        Why are they a distinctive web presence?
        
        </p>
    </div>
   
        <div class="col-lg-4  d-block m-auto ">
            
<h2> Writers </h2>
<p>Want to become a better writer? Perhaps you want to write novels, or maybe you just want to get better grades in your essay writing assignments, or maybe you’d like to start a popular blog.

.</p>
        </div>



</div>


<div class="col-lg-2 left d-inline">

    <div class="ser">
        <a> Intrests one</a>
        <hr class="new4">
    </div>
  
   <div class="ser">
        <a> Intrests two</a>
        <hr class="new4">
    </div>
   

    <div class="ser">
        <a> Intrests three</a>
        <hr class="new4">
    </div>
    
    <div class="ser">
        <a> Intrests last</a>
    </div>

</div>

</div>
